@font-face {
  font-family: CodePro;
  src: url(CodePro-Trial-LightLC.woff2);
}
@font-face {
  font-family: CodeNormal;
  src: url(CodePro-Trial-NormalLC.woff);
}
@font-face {
  font-family: Exo;
  src: url(Exo2-Light.ttf);
}
:root {
  --bg-color: #cef2bd;

  --main-text-color: #012611;
  --sec-text-color: #03401d;

  --main-btn-color: #012611;
  --main-btn-hover-bg-color: #012611;
  --main-btn-hover-color: #ecf2d5;
  --main-btn-hover-border-color: #012611;

  --sec-btn-color: #03401d;
  --sec-btn-hover-color: #fff;
  --sec-btn-hover-bg-color: #cef2bd;
  --sec-btn-hover-border-color: #cef2bd;
}

body {
  height: 100vh;
}
#flexSwitchCheckChecked {
  width: 5em;
  height: 2em;
  border-color: #0dcaf0;
  position: fixed;
  bottom: 2em;
  right: 2em;
}
#flexSwitchCheckChecked:checked {
  background-color: #0dcaf0;
}

.heading {
  border-bottom: solid;
}
#modalSignin {
  margin-top: 10vh;
}
.left-padding {
  padding-left: 5px !important;
}
.show-password {
  margin-left: 30px !important;
}
.hidden-stuff {
  padding-right: 0 !important;
}
.problem-msg {
  margin-left: 5px;
  color: #dc3545;
}
.my-active {
  font-weight: 700 !important;
}
a {
  color: #0dcaf0 !important;
}
#navbar {
  width: 90%;
}

.b-example-divider {
  height: 0.25rem;
  border: solid rgba(0, 0, 0, 0.15);
}

.after-photo {
  border-radius: 25px;
  padding: 3rem;
  position: sticky;
}
.img {
  border-radius: 50% !important;
  width: 12.5rem !important;
  height: 12.5rem !important;
  text-align: center;
  object-fit: cover;
  margin-top: -7rem;
  border: solid 0.75rem;
}
.right {
  border-radius: 25px;
}
.details {
  font-size: medium;
}
.detail-key,
.detail-value {
  margin-bottom: 1rem;
}
.list-group-item {
  border-radius: 1rem !important;
}
.edit-btn {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.margin-left {
  margin-left: 5rem !important;
}
.background {
  height: 15rem;
  border-radius: 25px;
}
.scroll-disable {
  overflow-y: hidden;
  overflow-x: hidden;
}
.scroll-enable {
  overflow: auto;
}
#edit-details-modal {
  margin-top: 5rem !important;
}
/* ::-webkit-scrollbar {
  color: #dc3545;
  scrollbar-3dlight-color: #dc3545;
} */
#add-about-modal {
  margin-top: 7rem !important;
}
textarea {
  border-radius: 25px;
  resize: vertical;
}
.section-edit-btn {
  float: left;
}
.post-image {
  border-radius: 25px;
}
.post {
  border: 0 !important;
  border-radius: 25px !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;
}
.add-post-btn {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 7rem;
  height: 4rem;
  border-radius: 50px !important;
  padding: 0 !important;
  z-index: 99;
}
.photo-post {
  width: 3rem !important;
  height: 3rem !important;
  border: 0 !important;
  margin: 0 1rem 0 0 !important;
}
.posts-container {
  padding: 4rem 7rem 5rem 7rem !important;
}
/* .post-title:focus {
  v-color: transparent !important;
} */
#create-post-input {
  border-bottom: solid grey !important;
}
.create-post-textarea {
  border: 0 !important;
  height: 10rem !important;
}

.create-post-close {
  float: right;
}
.img-placeholder {
  border-radius: 50% !important;
  width: 12.5rem !important;
  height: 12.5rem !important;
  text-align: center;
  object-fit: cover;
  margin-top: -7rem;
  background-color: grey;
  border: solid 0.75rem;
  cursor: pointer;
}
.photo-post-placeholder {
  width: 3rem !important;
  height: 3rem !important;
  border: 0 !important;
  margin: 0 1rem 0 0 !important;
  background-color: grey;
  display: inline-block;
}
.cola {
  width: 0.6em !important;
  height: 0.6em !important;
  margin-top: 0.25em !important;
}
/* utility classes */

.bg-color {
  background-color: var(--bg-color) !important;
}
.text-color-main {
  font-family: CodeNormal !important;
  color: var(--main-text-color) !important;
}
.text-color-sec {
  font-family: Exo !important;
  color: var(--sec-text-color) !important;
}
.btn-color-1 {
  font-family: CodeNormal !important;
  --bs-btn-color: var(--main-btn-color) !important;
  --bs-btn-border-color: var(--main-btn-color) !important;
  --bs-btn-hover-color: var(--main-btn-hover-color) !important;
  --bs-btn-hover-bg: var(--main-btn-hover-bg-color) !important;
  --bs-btn-hover-border-color: var(--main-btn-hover-border-color) !important;
}
.btn-color-2 {
  font-weight: bold !important;
  --bs-btn-color: var(--sec-btn-color) !important;
  --bs-btn-border-color: var(--sec-btn-color) !important;
  --bs-btn-hover-color: var(--sec-btn-hover-color) !important;
  --bs-btn-hover-bg: var(--sec-btn-hover-bg-color) !important;
  --bs-btn-hover-border-color: var(--sec-btn-hover-border-color) !important;
}
.close {
  color: white !important;
}
.my-input {
  border: 0 !important;
  color: var(--sec-text-color) !important;
}
.my-input:focus {
  outline: var(--sec-text-color) !important;
  box-shadow: 0 0 0 0.25rem rgba(3, 64, 29, 0.25) !important;
}
.form-check-input:checked {
  background-color: var(--sec-text-color) !important;
  border-color: var(--sec-text-color) !important;
}
.modal {
  --bs-modal-border-color: transparent !important;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.placeholder-image-name {
  position: absolute;
  top: 2rem;
}
